export DATABASE_DIALECT=mysql
export DATABASE_HOST=127.0.0.1
export DATABASE_PORT=3306
export DATABASE_USER=root
export DATABASE_PASSWORD=root
export DATABASE_NAME=peppermint

export WEBSERVER_ADDRESS_PORT=127.0.0.1:8000
